node_modules

/src/js/config.json

/web/www
/mobile/www
/mobile/www-server
/mobile/platforms
/mobile/plugins
/mobile/prepare
/mobile/public

/mobile/scripts/soft_build_current_version.txt
/mobile/scripts/config/config.json

# Files that are frequently changed and will be created via cmd
/mobile/.chcpenv
/mobile/config.xml
/mobile/cordova-hcp.json

.DS_Store
.vs
.vscode
.dev

/npm-debug.log
/img/favicon-16x16.png
/img/favicon-32x32.png
/img/favicon-96x96.png
/img/favicon.ico
/dump.txt
